
html {
    height: 100%;
    width: 100%;
  }
  #mainContainer{
    /* background-color: orange; */
    padding-top: 0px;
    display: grid;
    place-content: space-around-center;
  }
  .nav{
    /* background-color: yellow; */
    position: relative;
    justify-content: left;
    font-size: 24px;
    margin: 0 auto;
    width: 100%;
  }

  #list{
    padding-top: 5%;
  }
  .logo{
    margin-right: 20px;
    height: 50px;
    width: 50px;
  }
  .list{
    height: 50%;
    width: 100%;
  }
  #punButtonArea{
    background-color: rgb(9, 10, 17,0.8);
  }
  p {
    color: white;
  }
  #qContainer{
    /* background-color: red; */
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
    height: 180px;
  }
  #aContainer{
    /* background-color: blue; */
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 180px;
  }
  #buttonContainer{
    width: 100%;
    margin: 0 auto;
  }
